---

AWSTemplateFormatVersion: '2010-09-09'
Description: Create Kubernetes worker nodes for EKS

Parameters:

  InstanceProfile:
    Description: IAM Instance Profile to assign to the Worker Nodes
    Type: String

  SecurityGroup:
    Description: Security group for the EKS cluster
    Type: String

  HttpIngress:
    Description: Target Group for HTTP Ingress
    Type: String

  HttpsIngress:
    Description: Target Group for HTTPS Ingress
    Type: String

Resources:

  {% for subnet in sceptre_user_data.subnets %}
  NodeGroup0{{ loop.index }}:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      AutoScalingGroupName: {{ sceptre_user_data.cluster_name }}0{{ loop.index }}
      LaunchConfigurationName: !Ref NodeLaunchConfig
      DesiredCapacity: 1
      MinSize: 1
      MaxSize: 2
      Cooldown: '30'

      VPCZoneIdentifier:
        - {{ subnet }}

      TargetGroupARNs:
        - !Ref HttpIngress
        - !Ref HttpsIngress

      Tags:
      - Key: Name
        Value: {{ sceptre_user_data.cluster_name }}0{{ loop.index }}
        PropagateAtLaunch: 'true'
      - Key: kubernetes.io/cluster/{{ sceptre_user_data.cluster_name }}
        Value: 'owned'
        PropagateAtLaunch: 'true'

    UpdatePolicy:
      AutoScalingRollingUpdate:
        MinInstancesInService: 1
        MaxBatchSize: 1
        PauseTime: "PT60S"
  {% endfor %}

  NodeLaunchConfig:
    Type: AWS::AutoScaling::LaunchConfiguration
    Properties:
      AssociatePublicIpAddress: true
      IamInstanceProfile: !Ref InstanceProfile
      ImageId: "ami-0eeeef929db40543c"
      InstanceType: "t3.medium"
      KeyName: "jeffhallyburton"
      SecurityGroups:
        - !Ref SecurityGroup
      BlockDeviceMappings:
        - DeviceName: /dev/xvda
          Ebs:
            VolumeSize: 100
            VolumeType: gp2
            DeleteOnTermination: true

      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash
            set -o xtrace

            cat <<DHCLIENT >> /etc/dhcp/dhclient.conf

            supersede domain-search 'ec2.internal';
            supercede domain-name 'ec2.internal';

            DHCLIENT

            /etc/eks/bootstrap.sh {{ sceptre_user_data.cluster_name }}
            /opt/aws/bin/cfn-signal --exit-code $? \
                     --stack  ${AWS::StackName} \
                     --resource NodeGroup  \
                     --region ${AWS::Region}
