---

AWSTemplateFormatVersion: '2010-09-09'
Description: Create an EKS Control Plane

Parameters:

  IAMRole:
    Description: IAM Role for the EKS ControlPlane
    Type: String

Resources:

  ControlPlaneSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Security Group for the EKS control plane"
      VpcId: {{ sceptre_user_data.vpc }}
      Tags:
        - Key: "Name"
          Value: "Control Plane"

  ControlPlaneSecurityGroupIngress:
    DependsOn: ControlPlaneSecurityGroup
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ControlPlaneSecurityGroup
      SourceSecurityGroupId: !Ref ControlPlaneSecurityGroup
      IpProtocol: 'tcp'
      FromPort: "0"
      ToPort: "65535"

  HttpSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ControlPlaneSecurityGroup
      CidrIp: {{ sceptre_user_data.vpc_cidr }}
      IpProtocol: 'tcp'
      FromPort: "80"
      ToPort: "80"

  HttpsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ControlPlaneSecurityGroup
      CidrIp: {{ sceptre_user_data.vpc_cidr }}
      IpProtocol: 'tcp'
      FromPort: "443"
      ToPort: "443"

  HealthzSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ControlPlaneSecurityGroup
      CidrIp: {{ sceptre_user_data.vpc_cidr }}
      IpProtocol: 'tcp'
      FromPort: "10253"
      ToPort: "10253"

  EksControlPlane:
    DependsOn: ControlPlaneSecurityGroup
    Type: "AWS::EKS::Cluster"
    Properties:
      Name: {{ sceptre_user_data.cluster_name }}
      RoleArn: !Ref IAMRole
      ResourcesVpcConfig:
        SecurityGroupIds:
          - !Ref ControlPlaneSecurityGroup
        SubnetIds:
          {% for subnet in sceptre_user_data.subnets %}
          - {{ subnet }}
          {% endfor %}

Outputs:

  SecurityGroup:
    Description: Cluster security group
    Value: !Ref ControlPlaneSecurityGroup

  ClusterName:
    Description: Name assigned to the controlplane
    Value: !Ref EksControlPlane
